@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    /* padding: 0;
    box-sizing: border-box; */
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    width: 180px;
    height: 100vh;
    background-color: #111827;
    color: #9ca3af;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-top,
.sidebar-center,
.sidebar-bottom{
    width: 80%;
    padding: 10px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4b4b4b;
}

.sidebar-bottom{
    border: none;
    justify-content: center;
}

.sidebar-top .logo{
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 10px;
}
.sidebar-top .brand{
    font-weight: bold;
    cursor: pointer;
}